<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIC | Treasure Hunt - Code Protocol</title>
    <link rel="icon" type="image/x-icon" href="static/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
        body {
            font-family: 'Pixelify Sans', sans-serif;
            background-color: #080209;
            color: #f4f4f4;
        }

        main {
            padding: 0 12% 0 10% !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="mt-1 pt-5 text-center">
            <img src="static/img/logo.png" alt="AI Logo" class="img-fluid" width="10%" class="">
            <br>
            <br>
            <h1>Treasure Hunt Code Protocol</h1>
            <h3>Stage 2</h3>
            <br>
            <br>
            <h2>Welcome to the Final round</h2>
        </div>
    </div>
    <main class="container mt-3">
        <div class="row px-5">
            <div class="col-md-12 text-center">
                <br>
                <br>
                <a href="https://aic-treasure-hunt-code-protocol-d.onrender.com/">{ Click here to read the Final question }</a>
            </div>
        </div>
        <br>
    </main>
</body>
</html>